#contents > yt-live-chat-renderer {
  background-color: rgba(0, 0, 0, 0);
}

#chat-messages > yt-live-chat-header-renderer {
  height: 0;
  padding: 0;
  overflow: hidden;
}

#live-chat-message-input {
  height: 0;
  padding: 0;
  overflow: hidden;
}

#ticker {
  height: 0;
  overflow: hidden;
}

#item-scroller {
  overflow-y: hidden !important;
}

.yt-live-chat-item-list-renderer {
  padding: 8px 10px;
}

.yt-live-chat-viewer-engagement-message-renderer {
  width: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
}

#items {
  bottom: auto !important;
}

yt-live-chat-text-message-renderer {
  background-color: rgba(0, 0, 0, 0) !important;
}

yt-live-chat-text-message-renderer > #content > yt-live-chat-author-chip {
  width: 0;
  overflow: hidden;
}

yt-live-chat-text-message-renderer > #content > #message {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-radius: 10px;
  width: auto;
  padding: 5px 10px;
}
